body {
    margin: 0;
}

nav {
    background-color: #211746;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
    color: white;
}

.nav-logo {
    flex: 1 1 20%;
    display: flex;
}

.nav-links {
    flex: 1 1 65%;
    display: flex;
    justify-content: space-around;
    align-items: last baseline;
}

nav img {
    width: 48px;
    margin: 0 12px;
}

nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover {
    opacity: 80%;
    text-decoration: underline;
}

nav button {
    color: white;
    border: 2px solid white;
    background-color: transparent;
    font-size: 18px;
}

.hero {
    background-image: url('img/hero-img.jpg');
    background-size: cover;
    width: 100%;
    height: 448px;
}

.hero-overlay {
    background-color: hsla(0,0%,0%, 0.4);
    width: 100%;
    height: 100%;
}

.hero-content {
    padding: 48px;
    color: white;
    font-size: 32px;
}

button {
    font-size: 24px;
    border-radius: 15px;
    padding: 8px 12px; 
}

button:hover {
    opacity: 80%;
    cursor: pointer;
}

.primary-btn {
    color: white;
    background-color: #430098;
}

.secondary-btn {
    background-color: hsla(0,100%,100%, 0.6);
    border: 1px solid #430098;
    color: #430098;
}

.section {
    width: 100%;
    padding: 64px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #211746;
}

.section h1 {
    color: darkgray;
    font-size: 24px;
}

.section h2 {
    color: #430098;
    font-size: 32px;
}

.img-container {
    width: 40%;
}

.img-container img {
    width: 90%;
    max-width: 384px;
    display: block;
    margin:auto;
}

.half-section {
    flex: 1 1 50%;
    padding: 32px;
}

#diff-section {
    background-color: #f7f7f7;
}

#init-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #211746;
    color: white;
}

#init-section h1 {
    color: white;
}

#init-section hr {
    width: 90%;
    border: 2px solid white;
    margin: 32px 0;
}

#initiatives {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.initiative {
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.initiative img {
    width: 80%;
    margin: auto;
    border-radius: 50%;
    border: 1px solid white;
}